html, body {
  margin: 0;
  font-family: Intal, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: black;
}

.wrapper {
  display: flex;
}
.wrapper--end {
  justify-content: flex-end;
}

@media screen and (max-width: 756px) {
  .media-wrap {
    display: flex;
    flex-direction: column;
  }
}

.container {
  margin: 0 auto;
  width: 756px;
}

.header {
  display: flex;
  padding: 2rem 0rem;
  border-bottom: 1px solid #545454;
}

.logo__text {
  color: white;
  font-size: 2rem;
}
.logo__text--country-label {
  font-size: 0.65rem;
  vertical-align: 180%;
}

.profile {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.profile__avatar {
  padding-right: 1.7rem;
}
.profile__avatar img {
  width: 6rem;
  height: 6rem;
  border-radius: 10rem;
}
.profile__info {
  padding-top: 1rem;
}
.profile__username {
  color: white;
  font-size: 2.2rem;
}
.profile__edit {
  padding: 0.8rem 0 0 1rem;
}
.profile__edit svg {
  cursor: pointer;
}
.profile__status {
  padding-top: 0.5rem;
  color: white;
  font-size: 1rem;
}
.profile__add {
  padding-top: 2rem;
}
.profile__add svg {
  cursor: pointer;
}
@media screen and (max-width: 756px) {
  .profile__avatar {
    padding: 0;
    margin: 0 auto;
  }
  .profile__info {
    margin: 0 auto;
  }
  .profile__status {
    text-align: center;
  }
  .profile__add {
    margin: 0 auto;
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 15rem;
  margin-bottom: 1rem;
}
.card__image {
  margin-bottom: -0.3rem;
}
.card__image img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card__info {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}
.card__name {
  font-size: 1.3rem;
  font-weight: bold;
}
.card__like {
  padding: 0.33rem 0 0 0;
}
.card__like svg {
  cursor: pointer;
}
@media screen and (max-width: 756px) {
  .card {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 756px) {
  .container {
    width: 100%;
  }

  .logo {
    padding-left: 2rem;
  }
}
.modal {
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30rem;
  padding: 2rem;
}
.modal__close-button {
  cursor: pointer;
}
.modal__inner {
  background-color: white;
  width: 23rem;
  padding: 2rem;
  border-radius: 0.8rem;
}
.modal__name {
  color: black;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.modal__fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
.modal__fields input {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  outline: none;
}
.modal__fields input:first-child {
  margin-bottom: 1.5rem;
}
.modal__save-button {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
  background-color: black;
}
.modal__save-button:hover {
  background-color: #333;
  cursor: pointer;
}